%h1 Listing qand_as

%table
  %thead
    %tr
      %th Title
      %th Qtype
      %th Question
      %th Answer
      %th Attachment
      %th
      %th
      %th

  %tbody
    - @qand_as.each do |qand_a|
      %tr
        %td= qand_a.title
        %td= qand_a.QType
        %td= qand_a.question
        %td= qand_a.answer
        %td= qand_a.attachment
        %td= link_to 'Show', qand_a
        %td= link_to 'Edit', edit_qand_a_path(qand_a)
        %td= link_to 'Destroy', qand_a, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Qand a', new_qand_a_path
