%p#notice= notice

%p
  %b Name:
  = @employee_story.name
%p
  %b Date:
  = @employee_story.date
%p
  %b Image:
  = @employee_story.image
%p
  %b Text:
  = @employee_story.text

= link_to 'Edit', edit_employee_story_path(@employee_story)
\|
= link_to 'Back', employee_stories_path
