<link rel="stylesheet" type="text/css" href="/css/recuritments.css">
<div class="mainfield contain">
  
  <h5>
    公告
  </h5>
  <hr class="hr">
<table class="tg">
  <tr>
    <th class="tg-baqh" style =" width:100px;">时间</th>
    <th class="tg-baqh">公告类型</th>
    <th class="tg-baqh">公告标题</th>

  </tr>
  <% grey = 1%>
  <% @announcements.each do |announcement|%>
    <tr>
      <%if grey==1%>
        <td class="tg-dzk6"><%= announcement.date.to_date%></td>
        <td class="tg-dzk6"><%= announcement.type%></td>
        <td class="tg-dzk6"><%= link_to announcement.title, announcement.link%></td>
        <% grey = 0%>
      <%else%>
        <td class="tg-dzk4"><%= link_to announcement.date.to_date%></td>
        <td class="tg-dzk4"><%= announcement.type%></td>
        <td class="tg-dzk4"><%= link_to announcement.title, announcement.link%></td>
      <% grey = 1%>
      <%end%>
    </tr>
   
  <%end%>
</table>
  <%= will_paginate @announcements,:previous_label => '上一页',:next_label=> '下一页' %>
</div>