%h1 Listing honors

%table
  %thead
    %tr
      %th Title
      %th Text
      %th
      %th
      %th

  %tbody
    - @honors.each do |honor|
      %tr
        %td= honor.title
        %td= honor.text
        %td= link_to 'Show', honor
        %td= link_to 'Edit', edit_honor_path(honor)
        %td= link_to 'Destroy', honor, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Honor', new_honor_path
