<title>修改密码</title>
<link rel="stylesheet" type="text/css" href="/css/devise.css">

<div class="main">
  <h1>修改密码</h1>
  <hr class="hr">

  <div class="content">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      
      <div class = "block_left">
        <span class='mytext'>登录邮箱&emsp;</span>
        <span class='mytext'>当前密码&emsp;</span>
        <span class='mytext'>&emsp;密&emsp;码&emsp;</span>
        <span class='mytext'>重复密码&emsp;</span>
      </div>
      
      <div class = "block_right">
        <%= f.email_field :email, autofocus: true, :class => 'myfield', :placeholder => "登录邮箱" %>
        <%= f.password_field :current_password, :class => 'myfield', :placeholder => "当前密码份" %>
        <%= f.password_field :password, autocomplete: "off", :class => 'myfield', :placeholder => "新密码" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'myfield', :placeholder => "重复输入密码" %>
        <%= f.submit "立即修改", :class => 'submit' %>
      </div>

  </div>
  <% end %>

</div>