<title>用户注册</title>
<link rel="stylesheet" type="text/css" href="/css/devise.css">

<div class="main contain">
  <h1>欢迎加入科陆</h1>
  <hr class="hr">

  <div class="content">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      
      <div class = "block_left">
        <span class='mytext'>登录邮箱 *</span>
        <span class='mytext'>&emsp;密&emsp;码&emsp;</span>
        <span class='mytext'>重复密码&emsp;</span>
        <span class='mytext'>真实姓名&emsp;</span>
        <span class='mytext'>电话号码&emsp;</span>
        <span class='mytext'>&emsp;公&emsp;司&emsp;</span>
        <span class='mytext'>&emsp;部&emsp;门&emsp;</span>
      </div>
      
      <div class = "block_right">
        <%= f.email_field :email, autofocus: true, :class => 'myfield', :placeholder => "登录邮箱" %>
        <%= f.password_field :password, autocomplete: "off", :class => 'myfield', :placeholder => "密码" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'myfield', :placeholder => "重复输入密码" %>
        <%= f.text_field :realName, autofocus: true, :class => 'myfield', :placeholder => "真实姓名" %>
        <%= f.text_field :phoneNumber, autofocus: true, :class => 'myfield', :placeholder => "电话号码" %>
        <%= f.text_field :company, autofocus: true, :class => 'myfield', :placeholder => "公司" %>
        <%= f.text_field :department, autofocus: true, :class => 'myfield', :placeholder => "部门" %>
        <%= f.submit "立即注册", :class => 'submit' %>
        <a style="margin-top: 21px; color:#C4261D; float:right; margin-bottom:118px;" href="/users/sign_in"</a>已有账号?立即登录</a>
      </div>

  </div>
  <% end %>

</div>


