<!--casetypes#index-->
<link rel="stylesheet" type="text/css" href="/css/products.css">
<div class="leftmenu">
    <h5>客服案例</h5>
    <hr class="hr">
    <ul>
        <% counter = 1%>
        <% @case_types.each do |type| %>
        <li>
            <% if counter == 1%>
                <%= link_to(type.name, case_type_path(:id => type.id), id: "first_field", class: "typeslink") %>
            <% else %>
                <%= link_to(type.name, case_type_path(:id => type.id), class: "typeslink") %>
            <% end %>
            
        </li>
        <% counter += 1%>
        <% end %>
        

    </ul>
</div>
<div class="rightproducts">
    <div class="title">
        <% if @first_type != nil%>
            <h6><%= @first_type.name%></h6>
        <%end%>
        <hr class="righthr">
    </div>
    <% if @cases != nil%>
    <ul class="products_list current" id="1">
        <%@cases.each do |service|%>
            <li>
                <div class="product"><div class="productimage" style="background: url(<%= service.image%>);">
                
                </div>
                <div class="text-field">
                    <%= link_to(service.title, service_case_path(:id => service.id), class: "producttitle")%></div>
                </div>
            </li>
        <%end%>
    </ul>
    <%= will_paginate @cases,:previous_label => '上一页',:next_label=> '下一页' %>
    <% end %>
</div>



<style type="text/css">
	.producttitle {
    color: #211c19;
    font-size: 20px;
  }

</style>
