%h1 Listing case_types

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @case_types.each do |case_type|
      %tr
        %td= case_type.name
        %td= link_to 'Show', case_type
        %td= link_to 'Edit', edit_case_type_path(case_type)
        %td= link_to 'Destroy', case_type, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Case type', new_case_type_path
