%h1 Listing bids

%table
  %thead
    %tr
      %th Position
      %th Department
      %th Deadline
      %th Description
      %th
      %th
      %th

  %tbody
    - @bids.each do |bid|
      %tr
        %td= bid.position
        %td= bid.department
        %td= bid.deadline
        %td= bid.description
        %td= link_to 'Show', bid
        %td= link_to 'Edit', edit_bid_path(bid)
        %td= link_to 'Destroy', bid, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Bid', new_bid_path
