%p#notice= notice

%p
  %b Position:
  = @bid.position
%p
  %b Department:
  = @bid.department
%p
  %b Deadline:
  = @bid.deadline
%p
  %b Description:
  = @bid.description

= link_to 'Edit', edit_bid_path(@bid)
\|
= link_to 'Back', bids_path
