<link rel="stylesheet" type="text/css" href="/css/newsspec.css">
<div class="mainfield">
    <div class="text-field">
        <h5><%= @story.title %></h5>
        <p>姓名：<%= @story.name%></p>
        <p><%= @story.date.to_date%></p>
        <hr class="hr">
        <%= image_tag @story.image, class:"productimg"%>
        <div class="body" id="productbody"><%= @story.text.html_safe%></div>
    </div>
</div>
