<!--Title of Home page-->
<title>CLOU Home</title>
<link rel="stylesheet" type="text/css" href="/css/index.css">
<body>
    <div class="main-banner container" id="main-banner">
        <a class="btn btn-primary banner-btn" href="/aboutus" role="button">点击了解详情</a>
    </div>
    
    <div class="quick_access container">
        <h1>快捷入口</h1>
        <ul>
            <li style="margin-left: 0px;">
                <a href="/bids" class="quickicon one"</a>
                <a href="/bids" class="quicktext">快速投标</a>
            </li>
            <li>
                <a href="/joinus" class="quickicon two"></a>
                <a href="/joinus" class="quicktext">加入我们</a>
            </li>
            <li>
                <!--<a href="/" class="quickicon three"></a>-->
                <!--<a href="/" class="quicktext">故障申报</a>-->
                <%= link_to '', new_trouble_path, class:'quickicon three'%>
                <%= link_to '故障申报', new_trouble_path, class:'quicktext'%>
            </li>
            <li>
                <a href="/investors" class="quickicon four"></a>
                <a href="/investors" class="quicktext">投资者关系</a>
            </li>
        </ul>
        
    </div>
    
    
    <div class="special-topic container">
        <ul>
            <li>
                <div class="special-img-one">
                    
                </div>
                
                <a href="/special_news_one" class="special-title">
                    专题1
                </a>
                <p class="special-p">
                    对于要求到现场培训或维修的，我公司将及时分派技术人员为用户提供服务，
                    各省市办事处的技术人员在接到电话后在24小时内到达现场，在外省服务人员在48小时内到达现场进行服务。
                    如遇到特殊情况不能及时到达，将及时联系用户，求得谅解，共同协商最快解决时间，并在商定的时间内及时到达。
                </p>
            </li>
            
            <li>
                <div class="special-img-two">
                    
                </div>
                <a href="/special_news_two" class="special-title">
                    专题2
                </a>
                <p class="special-p">
                    对于要求到现场培训或维修的，我公司将及时分派技术人员为用户提供服务，
                    各省市办事处的技术人员在接到电话后在24小时内到达现场，在外省服务人员在48小时内到达现场进行服务。
                    如遇到特殊情况不能及时到达，将及时联系用户，求得谅解，共同协商最快解决时间，并在商定的时间内及时到达。
                </p>
            </li>
            <li>
                <div class="special-img-three">
                    
                </div>
                <a href="/" class="special-title">
                    专题3
                </a>
                <p class="special-p">
                    对于要求到现场培训或维修的，我公司将及时分派技术人员为用户提供服务，
                    各省市办事处的技术人员在接到电话后在24小时内到达现场，在外省服务人员在48小时内到达现场进行服务。
                    如遇到特殊情况不能及时到达，将及时联系用户，求得谅解，共同协商最快解决时间，并在商定的时间内及时到达。
                </p>
            </li>
            <li>
                <div class="special-img-four">
                    
                </div>
                <a href="/" class="special-title">
                    专题4
                </a>
                <p class="special-p">
                    对于要求到现场培训或维修的，我公司将及时分派技术人员为用户提供服务，
                    各省市办事处的技术人员在接到电话后在24小时内到达现场，在外省服务人员在48小时内到达现场进行服务。
                    如遇到特殊情况不能及时到达，将及时联系用户，求得谅解，共同协商最快解决时间，并在商定的时间内及时到达。
                </p>
            </li>
        </ul>
    </div>
    
    <div class="product-show container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        
        <!--outer-->
        <div class="carousel-outer">
            <h4>产品展示</h4>
            <a href="/allproducts" class="allproduct">点击查看所有产品</a>
        </div>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <% i = 1 %>
          <% @popproducts.each do |product| %>
            <% if i == 1%>
    
              <div class="item active">
                <!--<img class="altofit" src="img/homepage/testproduct.png" alt="product" width="270" height="270">-->
                <% if product.image.nil? %>
                  <img class="indexproductimg" src="img/homepage/testproduct.png" alt="product">
                <%else%>
                  <%= image_tag product.image, class:"indexproductimg"%>
                <%end%>
                <div class="carousel-caption">
                  <!--这里要能点进去-->
                  <%= link_to(product.name, pop_product_path(:id => product.id), class: "h3")%>
                  <p class="productintro"><%= product.synopsis %></p>
                </div>
              </div>
            <%else%>
      
              <div class="item">
                <% if product.image.nil? %>
                  <img class="indexproductimg" src="img/homepage/testproduct.png" alt="product">
                <%else%>
                  <%= image_tag product.image, class:"indexproductimg"%>
                <%end%>
                <div class="carousel-caption">
                  <!--这里要能点进去-->
                  <%= link_to(product.name, pop_product_path(:id => product.id), class: "h3")%>
                <p class="productintro"><%= product.synopsis %></p>
                </div>
              </div>
            <%end%>
            <%i+=1%>
          <%end%>
      
        </div>
    
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
    
    <div class="news contain">
        <div class="news-container">
            <div class="news-nav">
                <h2>新闻中心</h2>
                <a href="/mainframe/news" class="allnews">查看所有新闻</a>
                <a class="newsbright" id="newsnext" title="left"></a>
                <a class="newsbleft disabled" id="newsprev" title="right"></a>
            </div>               

            <hr style="top:20px;">
            <ul class="indexnews current" id='1'>

            </ul>
            
        </div>
    </div>
    
    <div class="logos container">
        <h4 style="top: 60px; position: relative;">科陆子成员企业</h4>

            
        <a class="btn prevlogo" id="next" title="left"></a>
        <a class="btn nextlogo" id="prev" title="right"></a>
        <div class="logo-field currentlogo">
            <a href="http://www.szclou-power.com" class="cloupower child"><img src="img/homepage/logos/szclou-power.png" style="width:100%;height:70px;"></a>
            <a href="http://www.scclou.com" class="scclou child"><img src="img/homepage/logos/scclou.png" style="width:100%;height:70px;"></a>
            <a href="http://www.szcloudz.com.cn" class="szcloudz child"><img src="img/homepage/logos/szcloudz.png" style="width:100%;height:70px;"></a>
            <a href="http://www.mge-power.com" class="mge child"><img src="img/homepage/logos/ge-power.jpg" style="width:100%;height:70px;"></a>
        </div>
        

    </div>
    
    

</body>

<script>
    $(document).ready(function () {
        if(window.document.getElementById("main-banner") != null) {
            var current = $('.indexnews.current');
             <% if @company_news != nil%>
                var page_counter = 1;
                var single_page_counter = 0;
                var newsplace = $('.news-container');
                <% @company_news.each do |news| %>
                    if (single_page_counter < 3 && page_counter == 1) {
                        current.append('<li><div class="special-img-two" style="background: url(<%= news.image%>);"></div><%= link_to(news.title, showcompanynews_news_index_path(:id => news.id), class: "special-title")%><p class="special-p"><%= news.description%></p></li>');
                        single_page_counter+=1;
                    } else if (single_page_counter == 3 && page_counter >= 1) {
                        page_counter += 1;
                        var ul = $("<ul>", { 
                          'class': 'indexnews next', 
                          'id': page_counter }
                          ).appendTo(newsplace);
                        ul.append('<li><div class="special-img-two" style="background: url(<%= news.image%>);"></div><%= link_to(news.title, showcompanynews_news_index_path(:id => news.id), class: "special-title")%><p class="special-p"><%= news.description%></p></li>');
                        single_page_counter = 1;
                    } else {
                        var next = $('#'+page_counter.toString());
                        next.append('<li><div class="special-img-two" style="background: url(<%= news.image%>);"></div><%= link_to(news.title, showcompanynews_news_index_path(:id => news.id), class: "special-title")%><p class="special-p"><%= news.description%></p></li>');
                        single_page_counter += 1;
                    }
                <%end%>
             <%end%>
        }
    })
    
</script>