<!--Title of Home page-->
<title>CLOU Home</title>
<link rel="stylesheet" type="text/css" href="/css/index.css">
<body>
    <div class="main-banner" id="main-banner" style="background-image: url('../img/homepage/homebanner.jpg') !important;">
        <h15>推动全球能源优化利用</h15>
        <a class="banner-btn" href="/aboutus" role="button">点击了解详情</a>
    </div>
    
    <div class="quick_access">
        <h1>快捷入口</h1>
        <ul>
            <li>
                <a href="/bids" class="quickicon one">
                    <div class="quickiconbody" style="background-image: url('../img/homepage/fast1.png');"></div>
                </a>
                <a href="/bids" class="quicktext">快速投标</a>
            </li>
            <li >
                <a href="/joinus" class="quickicon two">
                    <div class="quickiconbody" style="background-image: url('../img/homepage/fast2.png');"></div>
                </a>
                <a href="/joinus" class="quicktext">加入我们</a>
            </li>
            <li>
                <!--<a href="/" class="quickicon three"></a>-->
                <!--<a href="/" class="quicktext">故障申报</a>-->
                <a href="/troubles/new" class = "quickicon">
                    <div class="quickiconbody" style="background-image: url('../img/homepage/fast3.png');"></div>
                </a>
                <%= link_to '故障申报', new_trouble_path, class:'quicktext'%>
            </li>
            <li>
                <a href="/investors" class="quickicon four">
                    <div class="quickiconbody" style="background-image: url('../img/homepage/fast4.png');"></div>
                </a>
                <a href="/investors" class="quicktext">投资者关系</a>
            </li>
        </ul>
        
    </div>
    
    
    <div class="special-topic">
        <ul class="contain">
            <li>
                <div class="special-img-one" style="background-image:url('../img/homepage/specialnewsonepagecover.jpg')">
                    
                </div>
                
                <a href="/special_news_one" class="special-title">
                    储能大会专题
                </a>
            </li>
            
            <li>
                <div class="special-img-one" style="background-image:url('../img/homepage/20years.jpg')">
                    
                </div>
                <a href="/special_news_two" class="special-title">
                    科陆二十周年
                </a>
            </li>

        </ul>
    </div>
    
    <div class="product-show" style="background-image: url('../img/homepage/home-pro.jpg');">
        <div id="myCarousel" class="carousel contain slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        
        <!--outer-->
        <div class="carousel-outer">
            <h4>产品展示</h4>
            <a href="/allproducts" class="allproduct">点击查看所有产品</a>
        </div>
    
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <% i = 1 %>
          <% @popproducts.each do |product| %>
            <% if i == 1%>
    
              <div class="item active">
                <!--<img class="altofit" src="img/homepage/testproduct.png" alt="product" width="270" height="270">-->
                <% if product.image.nil? %>
                  <img class="indexproductimg" src="img/homepage/testproduct.png" alt="product">
                <%else%>
                  <%= image_tag product.image, class:"indexproductimg"%>
                <%end%>
                <div class="carousel-caption">
                  <!--这里要能点进去-->
                  <%= link_to(product.name, pop_product_path(:id => product.id), class: "h3")%>
                  <p class="productintro"><%= product.synopsis %></p>
                </div>
              </div>
            <%else%>
      
              <div class="item">
                <% if product.image.nil? %>
                  <img class="indexproductimg" src="img/homepage/testproduct.png" alt="product">
                <%else%>
                  <%= image_tag product.image, class:"indexproductimg"%>
                <%end%>
                <div class="carousel-caption">
                  <!--这里要能点进去-->
                  <%= link_to(product.name, pop_product_path(:id => product.id), class: "h3")%>
                <p class="productintro"><%= product.synopsis %></p>
                </div>
              </div>
            <%end%>
            <%i+=1%>
          <%end%>
      
        </div>
    
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
    
    <div class="news contain">
        <div class="news-container">
            <div class="news-nav">
                <h2>新闻中心</h2>
                <a href="/mainframe/news" class="allnews">查看所有新闻</a>
                <a class="newsbright" id="newsnext" title="left"></a>
                <a class="newsbleft disabled" id="newsprev" title="right"></a>
            </div>               

            <hr style="top:20px;">
            <ul class="indexnews current" id='1'>

            </ul>
            
        </div>
    </div>
    
    <div class="logos">
        <h4 style="top: 60px; position: relative;">科陆子成员企业</h4>
        <div class= "logocontainer contain">
            <a class="logobleft" id="logosprev" title="left"></a>
            <div class="logo-field current">
                <a href="http://www.carenergynet.com" class="cloupower child"><img src="img/homepage/logos/carenergy.png" style="width:100%;height:70px;"></a>
                <a href="http://www.scclou.com" class="scclou child"><img src="img/homepage/logos/scclou.png" style="width:100%;height:70px;"></a>
                <a href="http://www.szcloudz.com.cn" class="szcloudz child"><img src="img/homepage/logos/szcloudz.png" style="width:100%;height:70px;"></a>
                <a href="http://www.mge-power.com" class="mge child"><img src="img/homepage/logos/ge-power.png" style="width:100%;height:70px;"></a>
            </div>
            
            <div class="logo-field next">
                <a href="http://www.szclou-power.com" class="cloupower child"><img src="img/homepage/logos/cloupower.png" style="width:100%;height:70px;"></a>
            </div>
            <a class="logobright" id="logosnext" title="right"></a>
            
        </div>
    </div>
    
    

</body>

<script>
    $(document).ready(function () {
        $('#home').addClass('act');
        if(window.document.getElementById("main-banner") != null) {
            var current = $('.indexnews.current');
             <% if @company_news != nil%>
                var page_counter = 1;
                var single_page_counter = 0;
                var newsplace = $('.news-container');
                <% @company_news.each do |news| %>
                    if (single_page_counter < 4 && page_counter == 1) {
                        current.append('<li><div class="special-img-two" style="background: url(<%= news.image%>);"></div><%= link_to(news.title, showcompanynews_news_index_path(:id => news.id), class: "special-title")%><p class="special-p"><%= news.description%></p></li>');
                        single_page_counter+=1;
                    } else if (single_page_counter == 4 && page_counter >= 1) {
                        page_counter += 1;
                        var ul = $("<ul>", { 
                          'class': 'indexnews next', 
                          'id': page_counter }
                          ).appendTo(newsplace);
                        ul.append('<li><div class="special-img-two" style="background: url(<%= news.image%>);"></div><%= link_to(news.title, showcompanynews_news_index_path(:id => news.id), class: "special-title")%><p class="special-p"><%= news.description%></p></li>');
                        single_page_counter = 1;
                    } else {
                        var next = $('#'+page_counter.toString());
                        next.append('<li><div class="special-img-two" style="background: url(<%= news.image%>);"></div><%= link_to(news.title, showcompanynews_news_index_path(:id => news.id), class: "special-title")%><p class="special-p"><%= news.description%></p></li>');
                        single_page_counter += 1;
                    }
                <%end%>
             <%end%>
        }
        
    })
    
</script>