<link rel="stylesheet" type="text/css" href="/css/joinus.css">
<div class="joinusnav">
    <div class="navlinks contain">
        <h1>加入我们</h1>
        <!--<a class="nav-links">社会招聘</a>-->
        <!--<a class="nav-links">校园招聘</a>-->
        <%= link_to "社会招聘", society_recuritments_path, class:"nav-links"%>
        <%= link_to "校园招聘", campus_recuritments_path, class:"nav-links"%>
        <a href='/aboutus' class="nav-links">认识科陆</a>
        <%= link_to "人在科陆", employee_stories_path, class:"nav-links"%>
    </div>
    
</div>

<div class="joinusbanner"  style="background-image: url('../img/join_us/joinusbanner.jpg') !important;">
    <div class="joinuscover">
        <div class="joinusslogan contain">
            <h2>最强大的人才储备，最优渥的人才待遇</h2>
            <h3>加入我们获得最好的职业发展平台</h3>
            <hr class="hr">
        </div>
        
    </div>
    <div class="ourstory-background">
        <div class="ourstoryreal">
            <p class="storybanner">我们的生活，不只是精彩</p>
            <!--<a class="storylink">了解我们的故事></a>-->
            <%= link_to "了解我们的故事>", employee_stories_path, class:"storylink"%>
        </div>
        
    </div>
</div>

    

<div class="recuritments">
    <p class="supercoolslogan">
        我们拥抱时代的变化，用创新的精神，洗礼时代的步伐，在科陆，工作中从不缺少惊喜，我们用不断创新的方式，
        使自已更为的强大，我们朝着目标义无反顾，勇往直前、为了企业与个人的荣誉而拼博，加入科陆！与您携手前行。
    </p>
    <div class="recuritmentsfield">
        <div class="society">
            <div class="society-img" style="background-image: url('../img/join_us/society.jpg') !important;">
                
            </div>
            <!--<a class="recuritments-link">社会招聘></a>-->
            <%= link_to "社会招聘>", society_recuritments_path, class:"recuritments-link"%>
            <p class="intro">心有多大，舞台就有多大</p>
        </div>
        
        <div class="campus">
            <div class="campus-img" style="background-image: url('../img/join_us/campus.jpg') !important;">
                
            </div>
            <!--<a class="recuritments-link">校园招聘></a>-->
            <%= link_to "校园招聘>", campus_recuritments_path, class:"recuritments-link"%>
            <p class="intro">回到原点，梦想起航</p>
        </div>
    </div>
</div>
