<link rel="stylesheet" type="text/css" href="/css/news.css">
<div class="left">
    <h5>新闻</h5>
    <hr class="hr">
    <ul>
        <li>
            <a class="typeslink" id="company_news" href="#" remote="false">公司新闻</a>
        </li>
        <li>
            <a class="typeslink" id="industry_news" href="#" remote="false">行业新闻</a>
        </li>
    </ul>
</div>
<div class="right">
    <div class="title">
        <h6></h6>
        <hr class="righthr">
    </div>
    

    <ul class="news_list current" id ="1">
    
    </ul>
    


</div>

<script>
    $(function () {
        $(window).ready(function(e){
            // may cause error
            <% if params[:type] == "industry"%>
                $("#industry_news").click();
            <%else%>
                $("#company_news").click();
            <%end%>
        });
        
        
        $('#industry_news').click(function(e){
                window.scrollTo(0, 0);
                e.preventDefault();
                $('.typeslink').removeClass('visited');
                $('#industry_news').addClass("visited");
                var current = $(".news_list.current");
                current.empty();
                $(".news_list").empty();
                $('.next').remove();
                $('.prev').remove();
                $(".page-nav").remove();
                var right = $(".right");
                $(".title").empty();
                $(".page-nav").empty();
                $(".title").append("<h6>行业新闻</h6><hr class='righthr'>");
                <% if @industry_news != nil%>
                    <% news_num = @industry_news.size %>
                    var page_counter = 1;
                    var single_page_counter = 0;
                    
                    <% @industry_news.each do |news| %>
                        if (single_page_counter < 6 && page_counter == 1) {
                            current.append('<li><div class="newscell"><div class="newsimg" style="background: url(<%= news.image%>);"></div><div class="text-field"><%= link_to(news.title, showindustrynews_news_index_path(:id => news.id), class: "newstitle")%><p class="newstext"><%= news.created_at.to_date %></p></div></div></li>');
                        single_page_counter+=1;
                        }
                        else if (single_page_counter == 6 && page_counter >= 1) {
                            page_counter += 1;
                            var ul = $("<ul>", { 
                              'class': 'news_list next', 
                              'id': page_counter }
                              ).appendTo(right);
                            ul.append('<li><div class="newscell"><div class="newsimg" style="background: url(<%= news.image%>);"></div><div class="text-field"><%= link_to(news.title, showindustrynews_news_index_path(:id => news.id), class: "newstitle")%><p class="newstext"><%= news.created_at.to_date %></p></div></div></li>');
                            single_page_counter = 1;
                            }
                        else {
                            var next = $('#'+page_counter.toString());
                            next.append('<li><div class="newscell"><div class="newsimg" style="background: url(<%= news.image%>);"></div><div class="text-field"><%= link_to(news.title, showindustrynews_news_index_path(:id => news.id), class: "newstitle")%><p class="newstext"><%= news.created_at.to_date %></p></div></div></li>');
                            single_page_counter += 1;
                        }
                    <%end%>
                     var bottom = '<div class="page-nav"><p class=pageinfo></p><a class="btn navbtn bright" id="next">下一页</a><a class="btn navbtn bleft" id="prev">上一页</a></div>';
                      right.append(bottom);
                <% end %>
                        
                var stepNumber = 0,
                sumProgPortion = 0,
                appStepsTotal = $('.news_list').length,
                progPortion = 100 / appStepsTotal;
                if (appStepsTotal == 1) {
                    $('#next').hide();
                }
              // APPLICATION FORM
              $('#next').on('click', function (e) {
                e.preventDefault();
                var $inView = $('.current');
            
            
                $('.current').next().removeClass('next').addClass('current');
                $inView.removeClass('current').addClass('prev');
            
                stepNumber++;
            
                sumProgPortion = sumProgPortion + progPortion;
            
                if (stepNumber > 0) {
                  $('#prev').show();
                }
                

                        
            
                if (stepNumber === appStepsTotal - 1) {
                  $('#next').hide();
                  e.stopPropagation();
                }
            
              });
              
                $('#prev').on('click', function (e) {
                e.preventDefault();
            
                var $inView = $('.current');
            
                $('.current').prev().removeClass('prev').addClass('current');
                $inView.removeClass('current').addClass('next');
            
                stepNumber--;
            
            
            
                if (stepNumber < 1) {
                  $(this).hide();
                }
                
            
                if (stepNumber < appStepsTotal - 1) {
                  $('#next').show();
                  $('.submit-btn').hide();
                }
              
              });
              
                $('.typeslink').click(function(e){
                    e.preventDefault();
                    $('.typeslink').removeClass('visited');
                    $(this).addClass("visited");
                });
            });

        
       $('#company_news').click(function (e) {
             window.scrollTo(0, 0);
            $('.typeslink').removeClass('visited');
            $('#company_news').addClass("visited");
            var current = $(".news_list.current");
            current.empty();
            $(".news_list").empty();
            $('.prev').remove();
            $('.next').remove()
            $(".page-nav").remove();
            var right = $(".right");
            // right.empty()
            // right.append('<div class="title"><h6></h6><hr class="righthr"></div><ul class="news_list current" id ="1"></ul>');
            $(".title").empty();
            $(".page-nav").empty();
            $(".title").append("<h6>公司新闻</h6><hr class='righthr'>");
            <% if @company_news != nil%>
                <% news_num = @company_news.size %>
                var page_counter = 1;
                var single_page_counter = 0;
                
                <% @company_news.each do |news| %>
                    if (single_page_counter < 6 && page_counter == 1) {
                        current.append('<li><div class="newscell"><div class="newsimg" style="background: url(<%= news.image%>);"></div><div class="text-field"><%= link_to(news.title, showcompanynews_news_index_path(:id => news.id), class: "newstitle")%><p class="newstext"><%= news.created_at.to_date %></p></div></div></li>');
                    single_page_counter+=1;
                    }
                    else if (single_page_counter == 6 && page_counter >= 1) {
                        page_counter += 1;
                        var ul = $("<ul>", { 
                          'class': 'news_list next', 
                          'id': page_counter }
                          ).appendTo(right);
                        ul.append('<li><div class="newscell"><div class="newsimg" style="background: url(<%= news.image%>);"></div><div class="text-field"><%= link_to(news.title, showcompanynews_news_index_path(:id => news.id), class: "newstitle")%><p class="newstext"><%= news.created_at.to_date %></p></div></div></li>');
                        single_page_counter = 1;
                        }
                    else {
                        var next = $('#'+page_counter.toString());
                        next.append('<li><div class="newscell"><div class="newsimg" style="background: url(<%= news.image%>);"></div><div class="text-field"><%= link_to(news.title, showcompanynews_news_index_path(:id => news.id), class: "newstitle")%><p class="newstext"><%= news.created_at.to_date %></p></div></div></li>');
                        single_page_counter += 1;
                    }
                <%end%>
                 var bottom = '<div class="page-nav"><p class=pageinfo></p><a class="btn navbtn bright" id="next">下一页</a><a class="btn navbtn bleft" id="prev">上一页</a></div>';
                  right.append(bottom);
            <% end %>

        //   change page by using next prev
                var stepNumber = 0,
                sumProgPortion = 0,
                appStepsTotal = $('.news_list').length,
                progPortion = 100 / appStepsTotal;
                if (appStepsTotal == 1) {
                    $('#next').hide();
                }
              // APPLICATION FORM
              $('#next').on('click', function (e) {
                e.preventDefault();
                var $inView = $('.current');
            
            
                $('.current').next().removeClass('next').addClass('current');
                $inView.removeClass('current').addClass('prev');
            
                stepNumber++;
            
                sumProgPortion = sumProgPortion + progPortion;
            
                if (stepNumber > 0) {
                  $('#prev').show();
                }
                        
            
                if (stepNumber === appStepsTotal - 1) {
                  $('#next').hide();
                  e.stopPropagation();
                }
            
              });
              
                $('#prev').on('click', function (e) {
                e.preventDefault();
            
                var $inView = $('.current');
            
                $('.current').prev().removeClass('prev').addClass('current');
                $inView.removeClass('current').addClass('next');
            
                stepNumber--;
            
                if (stepNumber < 1) {
                  $(this).hide();
                }
            
                if (stepNumber < appStepsTotal - 1) {
                  $('#next').show();
                  $('.submit-btn').hide();
                }
              
              });
              
                $('.typeslink').click(function(e){
                    e.preventDefault();
                    $('.typeslink').removeClass('visited');
                    $(this).addClass("visited");
                });
            });
})
</script>