<!--产品主页面，未完成，需要添加判断数据库为空的情况-->

<title>ProductPage</title>
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/products.css">


<div class="productbanner" id="productbanner">
  
</div>

<!--产品图片文字全部要从database过来-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>

    </ol>
    
    <!--outer-->
    <div class="carousel-outer">
        <h4>明星产品</h4>
    </div>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <% i = 1 %>
      <% @products.each do |product| %>
        <% if i == 1%>

          <div class="item active">
            <!--<img class="altofit" src="img/homepage/testproduct.png" alt="product" width="270" height="270">-->
            <% if product.image.nil? %>
              <img class="productimg" src="img/homepage/testproduct.png" alt="product">
            <%else%>
              <%= image_tag product.image, class:"productimg"%>
            <%end%>
            <div class="carousel-caption">
              <!--这里要能点进去-->
              <a href="/" class="h3">Product</a>

              <p><%= product.synopsis %></p>
            </div>
          </div>
        <%else%>
  
          <div class="item">
            <% if product.image.nil? %>
              <img class="productimg" src="img/homepage/testproduct.png" alt="product">
            <%else%>
              <div class="productimg" style="background: url(<%= product.image%>);"></div>
            <%end%>
            <div class="carousel-caption">
              <!--这里要能点进去-->
              <a href="/" class="h3">Product</a>
             
            <p><%= product.synopsis %></p>
            </div>
          </div>
        <%end%>
        <%i+=1%>
      <%end%>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<!--这里是放所有category的container 是一个table，可以按照db增加cell-->
<div class="allcategory">
    <h4>产品分类</h4>
    <p class="hotline">产品咨询热线 888-8888-888</p>
    <br>
    <hr>
    <!--load db 的category into cell 有几个load 几个 需要图片和名字，-->
    
    <% @categories.each do |category| %>
      
      <div class="cell">
        <div class="categoryimg" style="background: url(<%= category.image%>);"></div>
        <%= link_to category.name, category_path(category.id) %>
      </div>
    <%end%>
</div>

<script>
  $(function() {
    var lastScroll = 0;
    $(window).bind('mousewheel DOMMouseScroll', function(event){
      if (event.originalEvent.wheelDelta > 0 || event.originalEvent.detail < 0) {
          // scroll up
      }
      else {
        if($('#productbanner') != null) {
          // scroll down
          var st = $(this).scrollTop();
          // window.alert(st);
          //Determines up-or-down scrolling
          // window.alert("last : "+lastScroll+" st: "+st);
          if (st > lastScroll){
            //Replace this with your function call for downward-scrolling
            // window.alert("hello");
            var scrollt = $('#myCarousel').offset().top;
             
            if (st < 900) {
                $('html, body').animate({
                  scrollTop: scrollt
              }, 500);
              st = scrollt;
            }
          }
        }
          lastScroll = st;
      }
      lastScroll = $(this).scrollTop();
    });
    
    $('.productbanner').on('click', function(e) {
      var scrollt = $('#myCarousel').offset().top;
      $('html, body').animate({
                  scrollTop: scrollt
      }, 1000);
      st = scrollt;
      lastScroll = st;
    });
  })
</script>