%h1 Listing campus_recuritments

%table
  %thead
    %tr
      %th Title
      %th Position
      %th Department
      %th Deadline
      %th Description
      %th
      %th
      %th

  %tbody
    - @campus_recuritments.each do |campus_recuritment|
      %tr
        %td= campus_recuritment.title
        %td= campus_recuritment.position
        %td= campus_recuritment.department
        %td= campus_recuritment.deadline
        %td= campus_recuritment.description
        %td= link_to 'Show', campus_recuritment
        %td= link_to 'Edit', edit_campus_recuritment_path(campus_recuritment)
        %td= link_to 'Destroy', campus_recuritment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Campus recuritment', new_campus_recuritment_path
