<link rel="stylesheet" type="text/css" href="/css/recuritments.css">
<div class="mainfield contain">
  
  <h5>
    校园招聘
  </h5>
  <hr class="hr">
<table class="tg">
  <tr>
    <th class="tg-baqh" style =" width:500px;">标题</th>
    <th class="tg-baqh">职位</th>
    <th class="tg-baqh">部门</th>
    <th class="tg-baqh">人数</th>
    <th class="tg-baqh">工作地点</th>
    <th class="tg-baqh">截止日期</th>
  </tr>
  <% grey = 1%>
  <% @campus_recuritments.each do |recuritment|%>
    <tr>
      <%if grey==1%>
        <td class="tg-dzk6"><%= link_to recuritment.title, campus_recuritment_path(:id => recuritment.id)%></td>
        <td class="tg-dzk6"><%= recuritment.position%></td>
        <td class="tg-dzk6"><%= recuritment.department%></td>
        <td class="tg-dzk6"><%= recuritment.number%></td>
        <td class="tg-dzk6"><%= recuritment.workPosition%></td>
        <td class="tg-dzk6"><%= recuritment.deadline.to_date%></td>
        <% grey = 0%>
      <%else%>
        <td class="tg-dzk4"><%= link_to recuritment.title, campus_recuritment_path(:id => recuritment.id)%></td>
        <td class="tg-dzk4"><%= recuritment.position%></td>
        <td class="tg-dzk4"><%= recuritment.department%></td>
        <td class="tg-dzk4"><%= recuritment.number%></td>
        <td class="tg-dzk4"><%= recuritment.workPosition%></td>
        <td class="tg-dzk4"><%= recuritment.deadline.to_date%></td>
      <% grey = 1%>
      <%end%>
    </tr>
  <%end%>
</table>
</div>