<link rel="stylesheet" type="text/css" href="/css/general.css">
<div class="mainfield">
    <div class="text-field">
        <h5><%= @recuritment.title%></h5>
        <hr class="hr">
        <p class="info" style="margin-top: 40px;">职位：<%= @recuritment.position%></p>
        <p class="info">部门：<%= @recuritment.department%></p>
        <p class="info">人数：<%= @recuritment.number%></p>
        <p class="info">工作地点：<%= @recuritment.workPosition%></p>
        <p class="info">截止日期：<%= @recuritment.deadline.to_date%></p>
        <div class="body" id="productbody"><%= @recuritment.description.html_safe %></div>
    </div>
</div>
