%p#notice= notice

%p
  %b Title:
  = @campus_recuritment.title
%p
  %b Position:
  = @campus_recuritment.position
%p
  %b Department:
  = @campus_recuritment.department
%p
  %b Deadline:
  = @campus_recuritment.deadline
%p
  %b Description:
  = @campus_recuritment.description

= link_to 'Edit', edit_campus_recuritment_path(@campus_recuritment)
\|
= link_to 'Back', campus_recuritments_path
