%h1 Listing year_reports

%table
  %thead
    %tr
      %th Date
      %th Attachment
      %th
      %th
      %th

  %tbody
    - @year_reports.each do |year_report|
      %tr
        %td= year_report.date
        %td= year_report.attachment
        %td= link_to 'Show', year_report
        %td= link_to 'Edit', edit_year_report_path(year_report)
        %td= link_to 'Destroy', year_report, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Year report', new_year_report_path
