%h1 Listing society_recuritments

%table
  %thead
    %tr
      %th Title
      %th Position
      %th Department
      %th Deadline
      %th Description
      %th
      %th
      %th

  %tbody
    - @society_recuritments.each do |society_recuritment|
      %tr
        %td= society_recuritment.title
        %td= society_recuritment.position
        %td= society_recuritment.department
        %td= society_recuritment.deadline
        %td= society_recuritment.description
        %td= link_to 'Show', society_recuritment
        %td= link_to 'Edit', edit_society_recuritment_path(society_recuritment)
        %td= link_to 'Destroy', society_recuritment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Society recuritment', new_society_recuritment_path
