<!--q_types index-->
<link rel="stylesheet" type="text/css" href="/css/products.css">
<div class="leftmenu">
    <h5>Q&A</h5>
    <hr class="hr">
    <ul>
        <% counter = 1%>
        <% @q_types.each do |type| %>
        <li>
            <% if counter == 1%>
                <%= link_to(type.name, q_type_path(:id => type.id), id: "first_field", class: "typeslink") %>
            <% else %>
                <%= link_to(type.name, q_type_path(:id => type.id), class: "typeslink") %>
            <% end %>
            
        </li>
        <% counter += 1%>
        <% end %>
        

    </ul>
</div>
<div class="rightproducts">
    <div class="title">
        <% if @first_type != nil%>
            <h6><%= @first_type.name%></h6>
        <%end%>
        <hr class="righthr">
    </div>
    <% if @qnas != nil%>
    <ul class="products_list current" id="1">
        <%@qnas.each do |question|%>
            <li><div class="product">
                <div class="text-field">
                    <%= link_to(question.question, qand_a_path(:id => question.id), class: "producttitle")%></div>
                </div>
            </li>
        <%end%>
    </ul>
    <%= will_paginate @qnas,:previous_label => '上一页',:next_label=> '下一页' %>
    <% end %>
</div>



<style type="text/css">
	.producttitle {
    color: #211c19;
    font-size: 20px;
  }
  .text-field {
    width: 77%;
    float: left;
    position: relative;
}
.product {
    width: 100%;
    position: relative;
    height: auto; 
    margin-top: 4%;
}
</style>
