<!--qtypes#show-->
<link rel="stylesheet" type="text/css" href="/css/products.css">
<div class="leftmenu">
    <h5>Q&A</h5>
    <hr class="hr">
    <ul>
        <% counter = 1%>
        <% @Types.each do |type| %>
        <li>
            <% if type.name == @type.name%>
                <%= link_to(type.name, type_path(:id => type.id), id: "first_field", class: "typeslink") %>
            <% else %>
                <%= link_to(type.name, type_path(:id => type.id), class: "typeslink") %>
            <% end %>
            
        </li>
        <% counter += 1%>
        <% end %>
        

    </ul>
</div>
<div class="rightproducts">
    <div class="title">
        <h6><%= @type.name%></h6>
        <hr class="righthr">
    </div>
    
    <% if @qnas != nil%>
      <ul class="products_list current" id="1">
           <%@qnas.each do |question|%>
            <li><div class="product">
                <div class="text-field">
                    <%= link_to(question.question, qand_a_path(:id => question.id), class: "producttitle")%></div>
                </div>
            </li>
        <%end%>
      </ul>
      <%= will_paginate @qnas,:previous_label => '上一页',:next_label=> '下一页' %>
    <%end%>
</div>

