<title>用户登录</title>
<link rel="stylesheet" type="text/css" href="/css/sign_up.css">
<div class="main">
  <h1>用户登录</h1>
  <hr class="hr">

  <div class="content">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      
      <div class = "block_left">
        <span class='mytext'>&emsp;用户名&emsp;</span>
        <span class='mytext'>&emsp;密&emsp;码&emsp;</span>
      </div>
      
      <div class = "block_right">
        <%= f.email_field :email, autofocus: true, :class => 'myfield', :placeholder => "请输入用户名" %>
        <%= f.password_field :password, autocomplete: "off", :class => 'myfield', :placeholder => "请输入密码" %>
        <%= f.submit "登录", :class => 'submit' %>
        <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me, :style => "float:left;margin-top:26px;" %>
            <span class='smallredword'>记住我</span>
        <% end %>
        <a style="margin-top: 21px; font-size:16px; color:#C4261D; float:right; margin-bottom:118px;" href="/users/password/new"</a>忘记密码？</a>
      </div>

  </div>

  <% end %>


</div>

