<link rel="stylesheet" type="text/css" href="/css/investors.css">
<title>Investors</title>
<div class="investorsnav">
    <div class="navlinks">
        <h1>投资者关系</h1>
        <%= link_to "投资者联系方式", society_recuritments_path, class:"nav-links"%>
        <%= link_to "董秘邮箱", campus_recuritments_path, class:"nav-links"%>
        <a class="nav-links">公司成员</a>
        <%= link_to "关于科陆", stories_news_index_path, class:"nav-links"%>
    </div>
</div>

<div class="investorsbanner">
    <div class="investorscover">
        
    </div>

</div>

<div class="investorslogan">
    <h2>我是文案文案文案文案文案文案文案文案</h2>`
    <h3>我是小文案</h3>
    <hr class="hr">
</div>

<div class="currentpricedashbord">
    <div class="pricedashbord contain">
        <h4>实时股价</h4><h5>(股票代码：002121)</h5>
        <hr class="investorshr">
        <div class="currentprice">
            <h6>当前价格</h6>
            <h7>￥10.28</h7>
        </div>
        <div class="currentprice">
            <h6>涨跌</h6>
            <h7>￥10.28</h7>
        </div>
        <div class="currentprice">
            <h6>总市值</h6>
            <h7>￥10.28</h7>
        </div>
        
    </div>

</div>

<div class="reports contain">
        <div class="announcements">
            <div class="announcements-img">
                <%= link_to "集团公告>", society_recuritments_path, class:"reports-link"%>
            </div>
            <!--<a class="recuritments-link">社会招聘></a>-->
        </div>
        
        <div class="year_reports">
            <div class="year_reports-img">
                <%= link_to "集团年报>", campus_recuritments_path, class:"reports-link"%>
            </div>
            <!--<a class="recuritments-link">校园招聘></a>-->
        </div>
    </div>
</div>