%p#notice= notice

%p
  %b Type:
  = @service_case.Type
%p
  %b Image:
  = @service_case.image
%p
  %b Text:
  = @service_case.text
%p
  %b Attachment:
  = @service_case.attachment

= link_to 'Edit', edit_service_case_path(@service_case)
\|
= link_to 'Back', service_cases_path
