<link rel="stylesheet" type="text/css" href="/css/products.css">
<div class="allproducts container">
    <div class="title">
        <h6>搜索结果</h6>
        <%= form_tag search_from_all_path, method: :get, class:"searchform", style: "top: 100px;" do %>
          <%= text_field_tag :search, "" %>
          <%= submit_tag '搜索' %>
        <% end %>
        <a href="/allproducts" style="display:inline-block; top:80px;position:relative; width:100%;">返回查看全部产品</a>
        <hr class="righthr" style="top:90px !important;">
    </div>

    <ul class="products_list">
        <% @products.each do |product|%>
        <li>
            <div class="product">
                <div class="productimage" style="background: url(<%= product.image%>);"></div>
                <div class="text-field">
                    <!--<a class="producttitle" href="/"></a>-->
                    <%= link_to(product.name, product_path(:id => product.id), class: "producttitle")%>
                    <p class="producttext"><%= product.synopsis %></p>
                </div>
            </div>
            
        </li>
        <%end%>
    </ul>
    <%= will_paginate @products,:previous_label => '上一页',:next_label=> '下一页' %>
</div>
