= form_for @product do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :img
    = f.text_field :img
  .field
    = f.label :synopsis
    = f.text_field :synopsis
  .field
    = f.label :detail
    = f.text_field :detail
  .field
    = f.label :attachedFiles
    = f.text_field :attachedFiles
  .field
    = f.label :type
    = f.text_field :type
  .actions
    = f.submit 'Save'
