<% if !@product.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<br />
<%= link_to "别点这个没用只是怕被挡住了", new_product_path, class: "btn btn-primary" %>
<br />
<br />
<%= link_to "别点这个没用只是怕被挡住了", new_product_path, class: "btn btn-primary" %>
<br />
<br />
<%= link_to "别点这个没用只是怕被挡住了", new_product_path, class: "btn btn-primary" %>
<br />

<div class="well">
  <%= form_for @product, html: { multipart: true } do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.file_field :image %>
    <%= f.submit "保存", class: "btn btn-primary" %>
  <% end %>
</div>
