%h1 Listing products

<br />
<%= link_to "别点这个没用只是怕被挡住了", new_product_path, class: "btn btn-primary" %>
<br />
<br />
<%= link_to "别点这个没用只是怕被挡住了", new_product_path, class: "btn btn-primary" %>
<br />
<br />
<%= link_to "别点这个没用只是怕被挡住了", new_product_path, class: "btn btn-primary" %>
<br />

%table
  %thead
    %tr
      %th Productid
      %th Productname
      %th Synopsis
      %th Detail
      %th Attached files
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        // %td= product.productId
        %td= product.productName
        %td= product.synopsis
        %td= product.detail
        %td= product.attachedFiles
        %td= link_to '详情', product
        %td= link_to '编辑', edit_product_path(product)
        %td= link_to '删除', product, :method => :delete, :data => { :confirm => '确定删除此产品?' }

%br

= link_to '添加产品', new_product_path
