%h1 Listing products
header
header
header
%table
  %thead
    %tr
      %th Name
      %th Img
      %th Synopsis
      %th Detail
      %th Attachedfiles
      %th TypeId
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.image
        %td= product.synopsis
        %td= product.detail
        %td= product.attachedFiles
        %td= product.type_id
        %td= link_to '详情', product
        %td= link_to '编辑', edit_product_path(product)
        %td= link_to '删除', product, :method => :delete, :data => { :confirm => '确定删除此产品?' }

%br

= link_to '添加产品', new_product_path
