<p id="notice"><%= notice %></p>

<br />
<%= link_to "别点这个没用只是怕被挡住了", new_product_path, class: "btn btn-primary" %>
<br />
<br />
<%= link_to "别点这个没用只是怕被挡住了", new_product_path, class: "btn btn-primary" %>
<br />
<br />
<%= link_to "别点这个没用只是怕被挡住了", new_product_path, class: "btn btn-primary" %>
<br />

 
<p>
  <strong>产品:</strong>
  <%= @product.productName %>
</p>
 
<p>
  <strong>简介:</strong>
  <%= @product.synopsis %>
</p>
 
<p>
  <strong>图片:</strong>
  <%= image_tag @product.image.url %>
</p>
 
<%= link_to '编辑', edit_product_path(@product) %> |
<%= link_to '返回', products_path %>
