%p#notice= notice

%p
  %b Productid:
  = @product.productId
%p
  %b Productname:
  = @product.productName
%p
  %b Synopsis:
  = @product.synopsis
%p
  %b Detail:
  = @product.detail
%p
  %b Attachedfiles:
  = @product.attachedFiles

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
