= form_for @major_product do |f|
  - if @major_product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@major_product.errors.count, "error")} prohibited this major_product from being saved:"
      %ul
        - @major_product.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :categoryId
    = f.number_field :categoryId
  .field
    = f.label :categoryName
    = f.text_field :categoryName
  .field
    = f.label :categoryImg
    = f.text_field :categoryImg
  .field
    = f.label :categoryDescription
    = f.text_field :categoryDescription
  .actions
    = f.submit 'Save'
