%h1 Listing major_products

%table
  %thead
    %tr
      %th Categoryid
      %th Categoryname
      %th Categoryimg
      %th Categorydescription
      %th
      %th
      %th

  %tbody
    - @major_products.each do |major_product|
      %tr
        %td= major_product.categoryId
        %td= major_product.categoryName
        %td= major_product.categoryImg
        %td= major_product.categoryDescription
        %td= link_to 'Show', major_product
        %td= link_to 'Edit', edit_major_product_path(major_product)
        %td= link_to 'Destroy', major_product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Major product', new_major_product_path
