<title>用户登录</title>
<link rel="stylesheet" type="text/css" href="/css/devise.css">

<div class="modal hide fade" id="login" 
style="margin:auto; width:340px; height:520px; border-radius:5px; background-color:white; top:100px;padding:0;
border-style:solid;padding-right: 0px !important;;">

  <div class="modal-header" style="height:390px;">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div style="margin-top:40px; margin-bottom:55px;text-align:center;">
          <img border="0" alt="logo" src="/img/homepage/logo.png" class="popup_logo">
      </div>
      <div style="text-align:center;">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <% flash.each do |name, msg| %>
          <div class="alert alert-danger">
              <button type="button" class="close" data-dismiss="alert">x</button>
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
          </div>
        <% end %>
        <%= f.email_field :email, autofocus: true, :class => 'popup_field', :placeholder => "请输入登录邮箱" %>
        <%= f.password_field :password, autocomplete: "off", :class => 'popup_field', :placeholder => "请输入密码" %>
        <%= f.submit "登录", :class => 'popup_submit' %>
        <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me, :style => "float:left;margin-left:24px;margin-top:24px;" %>
            <span class='remember_forget' style="float:left">记住我</span>
        <% end %>
        <a class='remember_forget' style="float:right; margin-right:18px;" href="/users/password/new"</a>忘记密码？</a>
      </div>
    <% end %>
  </div>
  
  <div style="height:115px; text-align:center">
      <a class="popup_sign_up" href="/users/sign_up">没有账号？立即注册</a>
  </div>
</div>

