<!DOCTYPE html>
<html>
<head>
  <title>Clouwebsite</title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  
  <!--Navbar CSS File-->
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">

</head>
<body>
<!--This is for devise gem-->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<!--Create the login button to allow user to sign in -->

<div class="top">
  <% if current_user %> 
  <!--not tested Yiran -->
    <%= link_to "登出", destroy_user_session_path(:authenticity_token => form_authenticity_token()), method: :delete, class: "sign_out" %>
  <% else %> 
    <p class="welcomewords">
    欢迎来到深圳市科陆电子科技有限公司，请
  </p>
    <%= link_to "登录", new_user_session_path, class: "login" %>
    <p class="welcomewords">或</p>
    <%= link_to "注册", new_user_registration_path, class: "login" %>
  <%end%>
  <%= link_to "| EN", "/", class: "language_link" %>
  <a href="/" class="language_link" style="color: #c4261d;">CN&nbsp;</a>
</div>
<hr>

<nav id="navbar" class="navbar">
  <div class = "logo">
        <a href="/">
            <img border="0" alt="logo" src="/img/homepage/logo.png" class="logoImg" width="192" height="28">
            <!--<div id="theImage" class="theImage"></div>-->
        </a>
  </div>
  <span class="links">
    <a id="home" href="/">首页</a>
    <a id="products" href="/cn_products">产品</a>
    <a id="plans" href="/cn_plans">方案</a>
    <a id="service" href="/cn_service">技术支持</a>
    <a id="aboutus" href="/cn_about_us">关于我们</a>
    <a id="supplier" href="/cn_supplier">合作伙伴</a>

<form class="navbar-form navbar-right" role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" style="width:170px;height:30px;margin-left:20px;">
    </div>
    <button type="submit" class="btn btn-default search_btn" style="border-radius:3px; margin-left: -5px;"></button>
</form>
    

  </span>
      
</nav>





<%= yield %>

</body>
</html>