<!DOCTYPE html>
<html>
<head>
  <title>科陆</title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>
  <%if @product and @product.seo_title and @product.seo_title != ''%>
    <meta name="keywords" content="<%= @product.seo_title%>--深圳市科陆电子科技股份有限公司">
  <%else%>
    <meta name="keywords" content="深圳市科陆电子科技股份有限公司">
  <%end%>
  <%if @product and @product.seo_word and @product.seo_word != ''%>
    <meta name="Description" content="<%= @product.seo_word%>--深圳市科陆电子科技股份有限公司">
  <%else%>
    <meta name="Description" content="深圳市科陆电子科技股份有限公司">
  <%end%>
  
  <link rel="shortcut icon" href="/img/homepage/icon.png" />
  <!--Bootstrap CSS-->

  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- 可选的Bootstrap主题文件（一般不用引入） -->
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  
  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <!--Navbar CSS File-->
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">


  <script type="text/javascript">
 //now on button click
 $(document).ready(function(){
    $('.login-link').on('click', function(){

    $('#login').modal("show");
    $('#login').removeClass('hide');
   });
});

  </script>

</head>
<body>
  <%= render "layouts/login_modal" %>

<!--This is for devise gem-->
<p class="notice"></p>
<p class="alert"></p>

<!--Create the login button to allow user to sign in -->

<div class="top">

  
  <% if current_user and current_user.authorized == true %> 
  <!--not tested Yiran -->
    <p class="welcomewords">欢迎您，</p>
    <p class="welcomewords wwords"><%= current_user.realName%></p>
    <%= link_to "登入后台", '/admin', class: "sign_out" %>
    <%= link_to "修改密码", edit_user_registration_path, class: "sign_out" %>
    <%= link_to "登出", destroy_user_session_path(:authenticity_token => form_authenticity_token()), method: :delete, class: "sign_out" %>
  <% elsif current_user and current_user.authorized == false %>
    <p class="welcomewords">欢迎您，</p>
    <p class="welcomewords"><%= current_user.realName%></p>
    <p class="welcomewords wwords">，您是未授权用户</p>
    <%= link_to "修改密码", edit_user_registration_path, class: "sign_out" %>
    <%= link_to "登出", destroy_user_session_path(:authenticity_token => form_authenticity_token()), method: :delete, class: "sign_out" %>
  <% else %> 
    <p class="welcomewords">
    欢迎来到深圳市科陆电子科技有限公司，请
  </p>
    <a  class="login login-link" href="#" onclick="return false;">登录</a>
    <!--<%= link_to "登录", new_user_session_path, class: "login" %>-->
    <p class="welcomewords">或</p>
    <%= link_to "注册", new_user_registration_path, class: "login" %>
  <%end%>
  
  <!--<a href="/" class="language_link" style="color: #c4261d;">CN&nbsp;</a>-->
</div>
<hr>

<nav id="navbar" class="navbar">
  <div class = "logo">
        <a href="/">
            <img border="0" alt="logo" src="/img/homepage/logo.png" class="logoImg" width="192" height="28">
            <!--<div id="theImage" class="theImage"></div>-->
        </a>
  </div>
  <span class="links">
    <a id="home" href="/">首页</a>
    <a id="products" href="/products_main">产品</a>
    <a id="news" href="/news_page">新闻</a>
    <a id="service" href="/service">技术支持</a>
    <a id="aboutus" href="/aboutus">关于我们</a>
    <a id="supplier" href="/supplier">合作伙伴</a>
        <%= form_tag search_all_dbs_path, method: :get, class:"navbar-form navbar-right", style: "padding-top: 25px;" do %>
          <%= text_field_tag :search,"", style: "width:170px;height:29px;margin-left:20px; position:relative; z-index: 0;top: 2px;" %>
          <%= submit_tag '', class: "btn btn-default search_btn", style:"border-radius:0px 3px 3px 0px; margin-left: -8px;position: relative;"  %>
        <% end %>
    

  </span>
  
  <div class="mobile-nav">
    <button type = "button" class = "navbar-toggle" 
         data-toggle = "collapse" data-target = "#example-navbar-collapse">
         <span class = "sr-only">Toggle navigation</span>
         <span class = "icon-bar"></span>
         <span class = "icon-bar"></span>
         <span class = "icon-bar"></span>
      </button>
  </div>
  
  
  <hr class="downhr" style="top: 87px;">
      
</nav>

<div class="mobile-links links">
    
    <button type="button" class="close close-navbar"><span aria-hidden="true" style="font-size: 60px;margin-right: 20px;top: -100px;position:relative;">&times;</span></button>
    <a class="mobile-link" id="home" href="/">首页</a>
    <a class="mobile-link" id="products" href="/products_main">产品</a>
    <a class="mobile-link" id="news" href="/news_page">新闻</a>
    <a class="mobile-link" id="service" href="/service">技术支持</a>
    <a class="mobile-link" id="aboutus" href="/aboutus">关于我们</a>
    <a class="mobile-link" id="supplier" href="/supplier">合作伙伴</a>
</div>


<%= yield %>

<footer class="footer">
  <div class="footer_container">
    <ul>
      <li>
        <a class="footer-row-header" href="/joinus">加入我们</a>
        <a class="footer-row" href="/employee_stories">人在科陆</a>
        <a class="footer-row" href="/aboutus">认识科陆</a>
        <%= link_to "社会招聘", society_recuritments_path, class:"footer-row"%>
        <%= link_to "校园招聘", campus_recuritments_path, class:"footer-row"%>
      </li>
      
      <li>
        <a class="footer-row-header" href="/news_page">新闻</a>
        <a class="footer-row" href="/mainframe/news">公司新闻</a>
        <a class="footer-row" href="/mainframe/industrynews">行业新闻</a>
      </li>
      
      <li>
        <a class="footer-row-header" href="/aboutus">关于科陆</a>
        <a class="footer-row" href="/history">公司历史</a>
        <a class="footer-row" href="/contact_us">联系我们</a>

      </li>
      
      <li>
        <a class="footer-row-header" href="/service">客户服务</a>
        <a class="footer-row" href="/case_types">客服案例</a>
        <a class="footer-row" href="/q_types">Q&A</a>
        <a class="footer-row" href="/complains/new">投诉反馈</a>
        <a class="footer-row" href="/troubles/new">故障报修</a>
      </li>
      
      <li>
        <a class="footer-row-header" href="/supplier">合作伙伴</a>
        <a class="footer-row" href="http://sapepp1.szclou.com:8088/irj/portal">科陆SRM系统</a>
        <a class="footer-row" href="http://sapsrpap1.szclou.com:8000/slc_selfreg">新供应商注册</a>
        <a class="footer-row" href="/bids">招标信息</a>
      </li>
      
      <li>
        <a class="footer-row-header" href="/investors">投资者关系</a>
        <a class="footer-row" href="/announcements">集团公告</a>
        <a class="footer-row" href="/year_reports">集团年报</a>
      </li>
      
    </ul>
    
    <div class="social-media">
        <h10 class="qrcodetitle">关注微信公众号</h10>
        <div class="qrcode">
          <img border="0" alt="logo" src="/img/homepage/qrcode.jpg" class="logoImg" width="150" height="150">
        </div>
    </div>
  </div>
  <div class="colorchange">
    
  </div>
  
    <div class="copyright">
     <span class="useless-container">
        <a href="/contact_us" class="useless">联系我们</a>
        |
        <a href="/sitemap" class="useless">网站地图</a>
        |
        <a href="/copyright" class="useless">版权声明</a>
        
     </span>
         版权所有 Copyright © 2013 深圳市科陆电子科技股份有限公司 粤ICP备12023818号
    </div>



</footer>


</body>
</html>