<!DOCTYPE html>
<html>
<head>
  <title>Clouwebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--This is for devise gem-->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<!--Create the login button to allow user to sign in -->

<%= yield %>

</body>
</html>
