<!DOCTYPE html>
<html>
<head>
  <title>Clouwebsite</title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>
  <!--禁止缓存-->
  <META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
  <META HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate"> 
  <META HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT"> 
  <META HTTP-EQUIV="expires" CONTENT="0"> 
  
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
  <script type="text/javascript"src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.0.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!--<script src="bootstrap/js/bootstrap-modal.js"></script>-->
  
  <!--Navbar CSS File-->
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">


  <script type="text/javascript">
  
 //now on button click
 $(document).ready(function(){
    $('.login-link').on('click', function(){
    $('#login').modal("show");
    $('#login').removeClass('hide');
   });
});

  </script>

</head>
<body>
  <%= render "about_us/login_modal" %>

<!--This is for devise gem-->
<p class="notice"></p>
<p class="alert"></p>

<!--Create the login button to allow user to sign in -->

<div class="top">

  
  <% if current_user %> 
  <!--not tested Yiran -->
    <%= link_to "登出", destroy_user_session_path(:authenticity_token => form_authenticity_token()), method: :delete, class: "sign_out" %>
  <% else %> 
    <p class="welcomewords">
    欢迎来到深圳市科陆电子科技有限公司，请
  </p>
    <a  class="login login-link" href="#" onclick="return false;">弹窗登录测试????????</a>
    
    <%= link_to "登录", new_user_session_path, class: "login" %>
    <p class="welcomewords">或</p>
    <%= link_to "注册", new_user_registration_path, class: "login" %>
  <%end%>
  
  <!--<a href="/" class="language_link" style="color: #c4261d;">CN&nbsp;</a>-->
</div>
<hr>

<nav id="navbar" class="navbar">
  <div class = "logo">
        <a href="/">
            <img border="0" alt="logo" src="/img/homepage/logo.png" class="logoImg" width="192" height="28">
            <!--<div id="theImage" class="theImage"></div>-->
        </a>
  </div>
  <span class="links">
    <a id="home" href="/">首页</a>
    <a id="products" href="/products_main">产品</a>
    <a id="news" href="/news_page">新闻</a>
    <a id="service" href="/service">技术支持</a>
    <a id="aboutus" href="/about_us">关于我们</a>
    <a id="supplier" href="/supplier">合作伙伴</a>

<form class="navbar-form navbar-right" role="search" style="padding-top: 25px;">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" style="width:170px;height:30px;margin-left:20px;">
    </div>
    <button type="submit" class="btn btn-default search_btn" style="border-radius:3px; margin-left: -5px;"></button>
</form>
    

  </span>
  <hr style="top: 87px;">
      
</nav>


<%= yield %>

<footer class="footer">
  <div class="footer_container">
    <ul>
      <li>
        <a class="footer-row-header">产品</a>
        <a class="footer-row">智能电网</a>
        <a class="footer-row">智能电网</a>
        <a class="footer-row">智能电网</a>
        <a class="footer-row">智能电网</a>
        <a class="footer-row">智能电网</a>
      </li>
      
      <li>
        <a class="footer-row-header">产品</a>
        <a class="footer-row">智能电网</a>
        <a class="footer-row">智能电网</a>
        <a class="footer-row">智能电网</a>
        <a class="footer-row">智能电网</a>
        <a class="footer-row">智能电网</a>
      </li>
      
      <li>
        <a href="/" class="footer-row-header">产品</a>
        <a href="/" class="footer-row">智能电网</a>
        <a href="/" class="footer-row">智能电网</a>
        <a href="/" class="footer-row">智能电网</a>
        <a href="/" class="footer-row">智能电网</a>
        <a href="/" class="footer-row">智能电网</a>
      </li>
      
      <li>
        <a class="footer-row-header">产品</a>
        <a class="footer-row">智能电网</a>
        <a class="footer-row">智能电网</a>
        <a class="footer-row">智能电网</a>
        <a class="footer-row">智能电网</a>
        <a class="footer-row">智能电网</a>
      </li>
    </ul>
  </div>
  
    <div class="copyright">
     <span class="useless-container">
        <a href="/" class="useless">联系我们</a>
        |
        <a href="/" class="useless">网站地图</a>
        |
        <a href="/" class="useless">版权声明</a>
        
     </span>
         版权所有 Copyright © 2013 深圳市科陆电子科技股份有限公司 粤ICP备12023818号
    </div>



</footer>


</body>
</html>